body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* We don't want any links to be underlined. Let's remove that globally */
a {
  text-decoration: none;
}

.navbar{
  overflow: hidden;
  background: #333333;
  display: flex;
  /* let's align the items so everything is nice and centered */
  align-items: center;
}

.navbar a{
  color: #e7e7e7;
}

.navbar ul{
  /* Let's reset the margin and padding of the list so it's is flush. */
  margin: 0;
  padding: 0;
  /* Let's remove the bullet points */
  list-style-type: none;
  /* display the list flex(to display items horizontaly) and align the items centered */
  display: flex;
  align-items: center;
}

.navbar .brand{
  /*display block displays element as block elementm, starts on new line */
  display: block;
  color:  #e7e7e7;
  /* Remove padding from top/bottom and add 24px padding right/left */
  padding: 0 24px;
  font-size: 24px;
}
/* padding between each a  */
.navbar ul li a{
  color: #e7e7e7;
  padding: 24px;
  /*Let's make the anchor display block.
     This will ensure when we hover, focus, or is active we get the full width and height
      of the container.
  */
  display: block;
}

/* When a use hovers or focuses a link change the background */
.navbar ul a:hover,
.navbar ul a:focus {
  background-color: #272727;
}

.column{
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card img{
  width: 100%;
  height: 430px;
}

.about-section{
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container{
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
/* inline-block will list item horizontally instead of vertically, adding padding */
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* if smaller screen setting column width to 100 percent. so each column with card will take whole screen width */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.footer{
  height: 50px;
  width: 100%;
  padding: 0 24px;
  background-color: #333333;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer address{
  color: white;
  /*  is positioned relative to the nearest positioned ancestor */
}
