body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* I have 4 columns that are all same size.Sidebar,Content1,content2,content3 */
#grid-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
}
